<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <script>
        var destinations = '<%= destinations %>';
        const destinationNames =  ["santorini island", "bali island", "rome", "paris", "inca trail to machu picchu", "annapurna circuit"];
        if(destinations.length>0)
        {
            destinations = destinations.split(',');
            for(var i=0;i<destinations.length;i++)
            {
                var div = document.createElement("div");
                div.className= 'container'+(i+1);
                var img = document.createElement("img");
                img.src="/"+destinations[i]+".png";
                img.height = 300;
                img.width = 193;
                var linebreak1 = document.createElement('br');
                var linebreak2 = document.createElement('br');
                var button = document.createElement('button');
                button.setAttribute('onclick', "location.href = '/"+destinations[i]+"';");
                button.id = destinations[i];
                button.className = "btn btn-secondary ml-3";
                var dests =['santorini', 'bali', 'rome', 'paris', 'inca', 'annapurna'];
                var index = dests.indexOf(destinations[i]);
                button.innerHTML = ' View ' + destinationNames[index];
                div.appendChild(img);
                div.append(button);
                document.body.appendChild(div);
            }
        }
    </script>
</body>
</html>